var el = $('#<%= escape_javascript("new_comment_form_#{@post.id}")%>');

<% if @comment.errors.any? %>

  // Create a list of errors
  var errors = $('<ul />');

  <% @test_comment.errors.full_messages.each do |error| %>
    errors.append('<li><%= escape_javascript( error ) %></li>');
  <% end %>

  // Display errors on form
  el.find('.errors').html(errors);

<% else %>
  // render partial to display comment
  $('#<%= escape_javascript("comments_#{@comment.post.id}") %>').prepend("<%= escape_javascript(
      render  :partial => "comments/show"
    ) %>");

  // Clear form
  el.find('input:text,textarea').val('');
  el.find('.errors').empty();

<% end %>

