@charset "UTF-8";
/* CSS Document */

html {background: #E2F7E2;}

body {
	margin:0px auto;
	padding:0px;
	width:1024px;
	text-align:center;
	font-family:"Georgia", Times New Roman, Times, serif;
	font-size:12px;
}

/* --------------------- MAIN SECTION -------------------------*/
#main {
	position: absolute;
	width: 960px;
	margin-top: 80px;
	background-color: white;
}

/*  HEADER  */
#header {
	background-color: white;
	overflow: hidden;
}

h1{
	text-align:left;
	width: 960px;
	height: 25px;
	margin: 10px 0px 0px 9px;
	font: Georgia, serif;
	font-size:18px;
	font-style:italic;
	font-weight:bold;
	color: #666;
}

/*  LEFT COLUMN  */
#left_column{
	width: 702px;
	margin-left: 10px;
	background-color: white;
	float: left;
}

#user_photo{
	float: left;
	width: 228px;
	height: 243px;
	outline: 1px solid gray;
	margin: 15px 0px 0px 0px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#about_me{
	width: 386px;
	height: 128px;
	margin-left: 9px;
	margin-top: 15px;
	float: left;
	text-align: left;
	font: Times, serif;
	font-size:12px;
	color: #666;
}

#profile_table{
	width: 386px;
	height: 116px;
	margin: 0px 0px 0px 9px;
	float: left;
	text-align: left;
	font: Times, serif;
	font-size:12px;
	color: #666;
}

.user_info{
	margin-left: 100px;
}

/*  RIGHT COLUMN  */
#right_column{
	width: 228px;
	margin-right: 10px;
	margin-left: 10px;
	float: right;
}

#ffflourish_stats{
	width: 228px;
	height: 243px;
	background-color: #CCC;
	margin-top: 15px;
}

#stats_tab{
	width: 228px;
	height: 24px;
	background-color: #333;
}

#stats_text{
	line-height: 26px;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	font-style:italic;
	color: #FFF;
	letter-spacing: 1px;
	text-align: right;
}

#stats_arrow{
	float: right;
	text-align: left;
	color: #FFF;
	font-size: 10px;
	line-height: 30px;
	margin-left: 5px;
	margin-right: 50px;
}

#stats_table{
	padding-top: 10px;
	line-height: 20px;
}

#stat_title{
	font: Georgia, serif;
	font-size:11px;
	font-style:italic;
	color: #666;
	text-align: left;
	margin-left: 15px;
}

#stat_value{
	font: Georgia, serif;
	font-size:14px;
	font-style: bold;
	color: #666;
	text-align: left;
	margin-left: 30px;
}

#bottom_strip{
	clear: both;
	background-color: white;
	height: 20px;
	width: 960px;
}

/*  FOOTER  */
#footer{
	/* background: gray; */
	background: #D9FFFC;
	clear: both;
	min-height: 28px;
	font: Georgia, serif;
	font-size:12px;
	font-style:italic;
	color: #999;
	padding-left: 200px;
	padding-top: 5px;
	/* outline: 1px solid gray; */
}

.footer_last{
	margin-left: 10px;
}

.footer_first{
	font-weight: bold;
}







/* CONTENT ON THE VERY BOTTOM
/////////////////////////////////////*/


/* NOTICE AND ALERT MESSAGES FOR DEVISE
/////////////////////////////////////*/


/* ERROR MESSAGES
/////////////////////////////////////*/
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

