@charset "UTF-8";
/* CSS Document */

html {background: #E2F7E2;}

body {
	margin:0px auto; 
	padding:0px; 
	width:960px; 
	text-align:center; 
	font-family:"Georgia", Times New Roman, Times, serif; 
	font-size:12px;
}

/* TOP - FOR FFFLOURISH LOGO AND ACCOUNT
/////////////////////////////////////*/

#top {
	width: 700px;
	height: 165px;
	position: relative;
	margin: 0px 0px 0px 15px;
}

nav {
  font-family: "Georgia", Times New Roman, Times, serif;
	font-size: 14px;
	font-style: italic;
	color: #C1C6C3;
	letter-spacing: 1px;
}

.account_buttons {
	width: 90px;
  height: 20px;
	background: #333;
	float: right;
	margin: 20px 0px 0px 0px;
	padding: 2px 0px 0px 0px;
}

/* ROW OF BUTTONS
/////////////////////////////////////*/

#button_bar{
	position: relative;
	width: 700px;
	height: 33px;
	margin: 0px 0px 0px 15px;
	background-color: #E2F7E2;
}


.tab_left{
	width: 88px;
    height: 33px;
	color: #C1C6C3;
	background: #333;
	margin: 0px 1px 0px 0px;
	padding: 0px 0px 0px 0px;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size: 14px;
	font-style:italic;
	letter-spacing: 0px;
	line-height: 30px;
	float: left;
}
	

.tab_right{
	width: 70px;
    height: 33px;
	color: #666666;
	background: #C1C6C3;
	margin: 0px 1px 0px 0px;
	padding: 0px 0px 0px 0px;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size: 14px;
	font-style:italic;
	letter-spacing: 0px;
	line-height: 30px;
	float: right;
}

/* CONTENT
/////////////////////////////////////*/

#content {
  position: relative;
	float: left;
	width: 700px;
	margin: 0px 0px 0px 15px;
	background-color: #FFF;
}

/* CONTENT IN PROFILE
/////////////////////////////////////*/

#top_profile_section{
	position: relative;
	float: left;
	width: 700px;
	height: 285px;
	padding: 0px 0px 0px 0px;
	background-color: #FFF;
	border-bottom: 1px dotted #666;
}

#user_photo{
	float: left;
	width: 200px;
	height: 200px;
	overflow: hidden;
	margin: 50px 0px 0px 15px;
}

#user_name{
	text-align:left;
	height: 12px;
	margin: 50px 0px 0px 230px;
	font: Georgia, serif;
	font-size:14px;
	font-style:italic;
	font-weight:bold;
	color: #666;
}

#about_me{
	text-align:left;
	height: 100px;
	margin: 0px 0px 0px 230px;
	font: Times, serif;
	font-size:12px;
	color: #666;
}

#profile_table{
	margin: 0px 0px 0px 230px;
	padding: 0px 0px 0px 0px;
}



#user_website, #user_website2, #user_location, #user_birthday{
	text-align:left;
	margin: 0px 0px 0px 130px;
	ont: Times, serif;
	font-size:12px;
	color: #666;
}

#title_website, #title_website2, #title_location, #title_birthday{
	font: Georgia, serif;
	font-size:11px;
	font-style:italic;
	color: #666;
}




/* CONTENT IN MID PROFILE
/////////////////////////////////////*/


#user_stats {
	position:relative;
	width: 700px;
	height: 200px;
	float:left;
	margin: 0px 0px 0px 15px;
	padding: 0px 0px 0px 0px;
	background-color: #FFF;
}

#like_title{
	text-align:left;
	margin: 0px 0px 0px 235px;
	font-variant:small-caps;
	color: #CCC;
	font: Times, serif;
	font-size: 18px;
}

#like_table{
	margin: 0px 0px 0px 235px;
	color: #666;
}

#interests{
	font: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	font-style:italic;
	font-weight:bold;
}

#dotted_line{
	width: 113px;
	border-bottom: 1px dotted #666;
}

#dotted_line_small{
	width: 10px;
	border-bottom: 1px dotted #666;
}

#count{
	font-style:italic;
	font: "Times New Roman", Times, serif;
	font-size: 14px;
	color: #666;
}

#date{
	color: #CCC;
	font-style:italic;
	font-size: 10px;
}





/* CONTENT IN FOOTER
/////////////////////////////////////*/
footer {
  font-family: Georgia, "Times New Roman", Times, serif;
	font-size:12px;
	font-style:italic;
	color: #999;
	text-align:center;
}

#bottom{
	
	position: relative;
	float: left;
	width: 700px;
	height: 20px;
	margin: 0px 0px 0px 15px;
	padding: 0px 0px 0px 0px;
	background-color: #FFF;
}



table.bottom_table{
	margin: 0px 0px 0px 90px;
}

td.nav_cell {
  margin: 0px 10px 0px 10px;
  padding: 0px 10px 0px 10px;
}

#copyright, #about, #terms, #privacy, #advertise, #jobs, #contact, #blog{
	margin: 0px 10px 0px 10px;
}


/* CONTENT ON THE VERY BOTTOM
/////////////////////////////////////*/


/* NOTIVE AND ALERT MESSAGES FOR DEVISE
/////////////////////////////////////*/


/* ERROR MESSAGES
/////////////////////////////////////*/
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

