/* ------------------- TOP NAVIGATION -----------------*/
#top{
	position: absolute;
	width: 960px;
	margin: 0px 0px 0px 32px;
}

#nav{
	list-style: none;
	overflow: hidden;
	font-family: Georgia, Times, serif;
	font-size: 14px;
	font-style: italic;
	background: black;
	color: white;
	line-height: 28px;
	width: 466px;
  height: 36px;
  -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 0px;
	margin: 15px 10px 0px 0px;
	float: right;
}

#nav li {
	float: left;
}

.menu_item {
	height: 30px;
	padding-top: 2px;
	background-color: none;
}

.menu_item:hover{
	color: #31F48E; /*bright lime green arrow*/
	cursor: default;
}

#feed:hover{
	color: #31F48E; /* when you hover over FEED, ARROW turns GREEN */
}

.menu_feed {
	height: 28px; /* how far below drop down menu starts */
	margin-left: 20px;	/* margin to left of word FEED */
	padding-top: 4px; /* menu word feed moves down */
}

.menu_feed:hover{
	color: #31F48E; /* when you hover over FEED, ARROW turns GREEN */
	cursor: default;
}

.menu_title {
	float: left;
	position: relative;
	padding: 0px 0px 0px 0px;
	color: #FFF;
}

.menu_arrow {
	float: right;
	position: relative;
	font-size: 9px;
	padding: 5px 0px 0px 4px; /* space arrow from word */
	font-style: normal;
}

/* PROFILE */
#profile{
	padding-left: 24px;
	padding-right: 24px;
	padding-top: 4px;  /* spacing profile from top of black bar */
}


/* SEARCH FIELD */
#search_field{
	background: #FFF;
	color: #CCC;
	height: 22px;
	width: 225px;
	text-align: left;
	margin-top: 7px;
	margin-right: 10px;
	line-height: 26px;
	-webkit-border-top-right-radius: 2.5px;
	-webkit-border-bottom-right-radius: 2.5px;
	-moz-border-radius-topright: 2.5px;
	-moz-border-radius-bottomright: 2.5px;
	border-top-right-radius: 2.5px;
	border-bottom-right-radius: 2.5px;
}

/* ARROW IN SEARCH BOX */
#arrow_search{
	position: relative;
	font-size: 9px;
	padding: 0px 0px 0px 2px; /* space arrow from word */
	font-style: normal;
}

#search_word {
  position: relative;
  float: left;

}

#search_form {
  position: relative;
  float: right;
  width: 75%;
}
#search_form input{
  float: right;
  width: 100%;
  margin: 2px 2px 0px 0px;
  display: inline;
  border: none;
  background-color: #fff;
  -webkit-border-radius: 2.5px;
	-moz-border-radius: 2.5px;
	border-radius: 2.5px;
	-webkit-box-shadow: 0 2px #666666;
  -moz-box-shadow: 0 2px #666666;
  box-shadow: 0 2px #666666;
  
}

#search_form input:hover {
  background-color: #cccccc; 
}
#search_form input.active {
  background-color: #eeeeee; 
}
/*#search_form input[type='search'] {*/
/*  width: 200px;*/
/*  padding: 4px; */
/*}*/

#account_gray{
	width: 22px;
	height: 22px;
	float: left;
	background: #CCC;
	-webkit-border-top-left-radius: 2.5px;
	-webkit-border-bottom-left-radius: 2.5px;
	-moz-border-radius-topleft: 2.5px;
	-moz-border-radius-bottomleft: 2.5px;
	border-top-left-radius: 2.5px;
	border-bottom-left-radius: 2.5px;
	margin-top: 5px;
}

#account_icon{
	margin-top: 5px;
	padding-left: 8px;
}

/* main  words across top: feed, profile, search, account */
#nav li a {
	display: block;
	text-align: center;
	text-decoration: none;
	background: black;
	color: white;
	line-height: 22px;
}

#nav li a:hover {
	color: #31F48E; /*bright lime green*/
	text-decoration: none;
	background: black;
}

/*  FEED DROP-DOWN  */
#dropdown_feed {
	position: absolute; /*drop down always goes over whatever*/
	display: none;
	z-index: 50;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	list-style: none;
	overflow: hidden;
	float: left;
	text-align: left;
}

#dropdown_feed li {
	float: none;
	text-align: left;
}

#dropdown_feed li a {
	text-decoration: none;
	padding-left: 20px; /*space on left of words in drop down */
	padding-right: 20px;
	text-align: left;
}

#dropdown_feed li.last a{
	padding-top: 3px;
	padding-bottom: 7px;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	text-align: left;

}

#feed:hover #dropdown_feed {
	display: block;
}

/*  SEARCH DROP-DOWN  */
#dropdown_search {
	position: absolute; /*drop down always goes over whatever*/
	display: none;
	z-index: 50;
	margin: 0px 0px 0px -10px;
	padding: 0px 0px 0px 10px;
	width: 120px;
	list-style: none;
	overflow: hidden;
	float: left;
}

#dropdown_search li {
	float: none;
}

#dropdown_search li a {
	text-decoration: none;
	text-align:  left;
	padding-left: 20px; /*space on left of words in drop down */
	padding-right: 20px;
}

#dropdown_search li.last a{
	padding-top: 3px;
	padding-bottom: 7px;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;

}

#search:hover #dropdown_search{
	display: block;
}

/*  ACCOUNT DROP-DOWN  */
#dropdown_account {
	position: absolute; /*drop down always goes over whatever*/
	display: none; /* use inline to see it drop down without hovering */
	z-index: 50;
	list-style: none;
	overflow: hidden;
	margin: 0px 0px 0px -10px;
	padding: 0px 0px 0px 0px;

}

#dropdown_account li {
	float: none;
}

#dropdown_account li a {
	text-decoration: none;
	padding-left: 10px; /*space on left of words in drop down */
	padding-right: 10px;

}

#dropdown_account li.last a{
	padding-top: 3px;
	padding-bottom: 7px;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

#account:hover #dropdown_account {
	display: block;
}

