@charset "UTF-8";
/* CSS Document */

html {background: #D9FFFC;}

body {
	margin:0px auto;
	/* padding:auto;  */
	width:1024px;
	text-align:center;
	font-family:"Georgia", Times New Roman, Times, serif;
	font-size:12px;
}

a {
  color: #999;
	text-decoration: none;
	font-style: none;
	font-weight: normal;
	border: none;
}

a img {
  border: none;
}

a:visited {
	color: #666;
}

a:hover { color: #31F48E; }

.field{
  position: relative;
  float: left;
  width: 100%;
  clear: both;
  margin: 2px 0px 2px 0px;
}

ul {
  -webkit-padding-start: 0px;
}

/* Guides.css */

/* Top_Navigation.css */
#ffflourish_logo {
  position: relative;
  float: left;
  margin: 55px 0px 0px 2px;
}

#notifications {
  position: relative;
  float: left;
  margin: 45px 0px 0px 90px;
  color: #666;
}

/* MAIN
/////////////////////////////////////*/
#main{
	position: relative;
	float: left;
	width: 960px;
/*	height: 600px;*/
  margin: 80px 0px 0px 32px;
  padding: 0px 0px 20px 0px;
	background-color: #FFF;
	border-bottom: 1px dotted #666;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-top-left-radius: 10px;
	-moz-border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

/* LEFT COLUMN
/////////////////////////////////////*/

#left_column{
	float: left;
	width: 712px;
	/* height: 600px; */
}

/* User page header outsourced to name_menu_bar*/

/* Posting fields */

#question_background{
  position: relative;
  float: left;
	width: 702px;
/*	height: 182px;*/
	background-color: #E5E5E5; /* lightest gray */
	margin-left: 10px;
	padding: 0px 0px 10px 0px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#question{
	width: 702px;
	height: 20px;
	padding-top: 5px;
	margin-left: 10px;
	margin-top: 0px;
	text-align: left;
	background-color: none;
	font: Times, serif;
	font-size:14px;
	color: #666;
	font-style: italic;
}

/* TEXT BOX /////////////////////////////////////*/

#question_field {
  margin: 0px 0px 0px 10px;
}

#post_content {
  float: left;
  height: 60px;
  width: 660px;
	max-width: 660px;
  padding: 10px;
	border: 1px solid #FFF;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: #222;
	overflow: hidden;
	font-family: Verdana, sans serif;
	font-size: 1.1em;
	line-height:  1.25em;
	word-spacing: 0.09em;
	color: #666;
	text-align: left;`
}

/* Post type select outsourced to posting_icons */

/* Post submit button and pivacy */
#post_buttons_bottom {
	/* background-color: yellow; */
	float: right;
	margin-top: 20px;
}

#post_privacy_control{
	text-align: left;
	color: #666;
	font-style: italic;
	font-size: 1em;
/*	line-height: 22px;*/
	float:right;
	margin-right: 2px;
}

select#post_permissions{
  width: 100px;
  height: 25px;
  font-family: Verdana, sans serif;
	font-size: 1em;
	color: #fff;
	background-color: #c1c3c9;
	border: 0px;
	border-color: #fff;

	-webkit-border-radius: 2.5px;
	-moz-border-radius: 2.5px;
	border-radius: 2.5px;
}

select#post_permissions option {
  line-height: double;

}

#post_submit {
	height: 43px;
	width: 43px;
	position: relative;
	float: left;
	margin: 0px 10px 0px 2px;
	clear: right;
}

.actions {
	background-color: #66CC99;
  	color:#fff;
	font-family:"Georgia", Times New Roman, Times, serif;
	font-style: italic;
	font-weight: normal;
	font-size: 1.2em;
	line-height: 22px;
	border: none;
	-webkit-border-radius: 2.5px;
	-moz-border-radius: 2.5px;
	border-radius: 2.5px;
}

.actions:hover {
  background-color: #C1C3C9;
  cursor: default;
}

/* posting forms outsources to posting_forms */

/* FEED CONTENT STARTS HERE */

#three_column_feed_entry_format{
  width: 712px;
  position: relative;
  float: left;
}

#user_photo_small{
  position: relative;
	float:left;
	width: 50px;
	height: 50px;
	padding-left: 10px;
	/* background-color: red; */
	/* outline: 1px solid gray; */
	margin: 15px 0px 0px 10px;
}

#feed_entry_content{
  position: relative;
	width: 483px;
	/* height: 95px; */
	/* background-color: aqua; */
	float: left;
	margin-left: 10px;
	margin-top: 15px;
}

#feed_entry_01_author{
	font-family: Verdana, sans serif;
	/* font-weight: bold; */
	color: #444;
	font-size: 0.8em;
	text-align: left;
	width: 483px;
	height: 15px;
	/* background-color: yellow; */
	/* padding-bottom: 2px; */
}

#feed_entry_03_title{
	width: 483px;
	height: 20px;
	font-family: Georgia, serif;
	font-style: italic;
	font-size: 1.2em;
	color: #666;
	text-align: left;
	/* background-color: gray; */
	padding-top: 2.5px;
}

#feed_entry_04_text{
	/* margin-top: 5px; */
	text-align:left;
	width: 483px;
	height: 35px;
	font-family: Verdana, sans serif;
	font-size: 1.1em;
	line-height:  1.25em;
	word-spacing: 0.09em;
	/* color: #666; */
	color: #999;
	/* background-color: yellow; */
	padding-top: 0px;
	overflow: hidden;
}

.feed_entry_05_source{
	width: 483px;
	height: 20px;
	/* background: gray; */
}

.feed_entry_05_source_text{
	font-family: Verdana, sans serif;
	color: #666;
	font-size: 0.8em;
	text-align: left;
	float: left;
	margin-top: 3px;
}

.feed_entry_05_source_text_link{
	font-family: Verdana, sans serif;
	color: #1B9E6F;
	font-size: 0.8em;
	text-align: left;
	float: left;
	margin-left: 5px;
	margin-top: 3px;
}


#post_date{
	font-family: Verdana, sans serif;
	color: #999;
	font-size: 0.8em;
	text-align: left;
	width: 150px;
/* 	background-color: red; */
	float: left;
}

#post_date:hover{
	color: #31F48E; /* lime green hover color */
}

.activity_count{
	/* text-align:left; */
	float: left;
	font-family: Arial, sans serif;
	font-size: 0.9em;
	font-weight: bold;
	color: #666;
	width: 15px;
	margin-left: 2px;
	margin-right: 15px;
	margin-top: 1px;
	/* background-color: gray; */
}

.activity_images{
	float: left;
	width: 14px;
	margin-top:  1px;
	/* background-color: yellow; */
}

#expand_arrow_field{
	background-color: #999;
	width: 20px;
	height: 20px;
	float: right;
	/* margin-top: 18px; */
	-webkit-border-radius: 2.5px;
	-moz-border-radius: 2.5px;
	border-radius: 2.5px;
	margin-top: 3px;
}

#expand_arrow{
	color: white;
	font-size: 10px;
	margin-top: 5px;
}

#photo_preview{
  position: relative;
	float:right;
	width: 125px;
/*	height: 95px;*/
	margin-top: 15px;
/*	background-color: #F2F2F2;*/
	/* outline: 1px solid gray; */
}



#border{
	border-bottom: 1px dotted;
	color: #999;
	clear: both;
	height: 15px;
	margin-left: 10px;
}



/* RIGHT COLUMN
/////////////////////////////////////*/

/* not signed in */
/* ////////////////////////////////// */

#right_side_info {
  position: relative;
  float: right;
  width: 228px;
  height: 480px;
  margin: 20px 20px 0px 0px;
  background-color: #efefef;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

#fff_info {
  width:200px;
  margin: 10px auto 10px auto;
  text-align: left;
  color: #666;
}

/* signed in */
/* ////////////////////////////////// */

#right_side_column{
	float: left;
	width: 248px;
	height: 600px;
}

#ffflourish_stats{
	float: right;
	width: 228px;
	height: 243px;
	/* background-color: #CCC; */
	margin: 47px 10px 0px 0px;
}

#stats_tab{
	width: 228px;
	height: 24px;
	/* background-color: #333; */
	background-color: black;
}

#stats_tab_text{
	margin-left: 40px;
	padding-top: 2px;
}

.stats_text{
	margin-left: 0px;
	line-height: 12px;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	font-style:italic;
	color: white;
	letter-spacing: 1px;
	text-align: center;
}

.stats_green_text{
	/* color: #31F48E; */
	color: #99FFFF;
	margin-left: 0px;
	line-height: 12px;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	font-style:italic;
	letter-spacing: 1px;
	text-align: center;
}

#stats_arrow{
	text-align: center;
	color: #FFF;
	font-size: 10px;
	padding-top: 2px;
}

#stats_table{
	padding-top: 10px;
	line-height: 20px;
}

.stat_title{
	font: Georgia, serif;
	font-size:11px;
	font-style:italic;
	color: #666;
	text-align: left;
	margin-left: 15px;
}

.stat_value{
	font: Georgia, serif;
	font-size:14px;
	font-style: bold;
	color: #666;
	text-align: left;
	margin-left: 30px;
}


/* CONTENT IN BOTTOM
/////////////////////////////////////*/
/*bottom_profile_section*/

#footer {
  position: relative;
  float: left;
	width: 960px;
  margin: 0px 0px 0px 32px;
	height: 25px;
	background-color: #FFF;
	-webkit-border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-bottom-left-radius: 10px;
	-moz-border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

#bottom_table{
  position: relative;
  float: left;
	margin: 0px auto;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size:12px;
	font-style:italic;
	color: #999;
	text-align:center;
}

#copyright_ffflourish, #about, #terms, #privacy, #advertise, #jobs, #contact, #blog{
	margin: 0px 10px 0px 10px;
}

/* NOTICE AND ALERT MESSAGES FOR DEVISE */

/* ERROR MESSAGES */

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

#debug {
  position: relative;
  float: left;
  margin: 20px auto;
}

