@charset "UTF-8";
/* CSS Document */

html {background: #D9FFFC;}

body {
/*	width: 1024px;*/
	text-align: center;
	font-family: "Georgia", Times New Roman, Times, serif;
	font-size: 12px;
}

a {
    color: #999;
	text-decoration: none;
	font-style: normal;
	font-weight: normal;
	border: none;
	margin: 0px;
	padding: 0px;
}

a img {
  border: none;
}

a:visited {
	color: #666;
}

a:hover { color: #31F48E; }

.field{
  position: relative;
  float: left;
  width: 100%;
  clear: both;
  margin: 2px 0px 2px 0px;
}

ul {
  -webkit-padding-start: 0px;
}

/* background for endless nav bar */
#nav_bar_background {
	width: 100%;
	height: 56px;
	position: absolute;
	top: 0px;
}

/* main content container to wrap it all */
#container {
    width: 980px;
    height: 100%;
    margin: 0px auto;
}

/* zone between menu bar and main section */
.transparent {
	filter:alpha(opacity=50); /* IE 6/7 */
  	filter:"alpha(opacity=50)"; /* IE 8 */
   -moz-opacity: 0.5;
   -khtml-opacity: 0.5;
   opacity: 0.5; /* standard for css3 */
}

#notifications {
	width: 100%;
	height: 30px;
  	position: relative;
  	float: left;
  	margin: 0px auto 0px auto;
  	font-family: "Georgia";
  	font-size: .75em;
  	font-style: italic;
  	text-align: center;
  	color: #666;
  	background-color: #31F48E;
  	border-style: solid;
  	border-color: #31F48E;
	-webkit-border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius: 0px 0px 10px 10px;
	-moz-border-radius: 0px 0px 10px 10px;
	border-radius: 0px 0px 10px 10px;
	border-radius: 0px 0px 10px 10px;
}

.alert {
	width: 100%;
	height: 0px;
	position: absolute;
	top: 56px;
	left: 0px;
	padding: 5px 0px 10px 0px;
	font-family: "Georgia";
  	font-size: 0.75em;
  	font-style: italic;
  	text-align: center;
	color: #666;
  	background-color: rgb(49, 244, 143);
	background-color: rgba(69, 229, 255, 0.5);
	-webkit-border-radius: 0px 0px 10px 10px;
	-moz-border-radius: 0px 0px 10px 10px;
	border-radius: 0px 0px 10px 10px;
	z-index: 999;
}

/* MAIN */
/*/////////////////////////////////////*/

#main{
	position: relative;
	float: left;
	width: 960px;
    margin: 50px 0px 0px 0px;
    padding: 10px 10px 20px 10px;
	background-color: #FFF;
	border-bottom: 1px dotted #666;
	-webkit-border-radius: 10px 10px 0px 0px;
	-moz-border-radius: 10px 10px 0px 0px;
	border-radius: 10px 10px 0px 0px; /* top-left, top-right, bottom-left, bottom-right */
}

/* LEFT COLUMN
/////////////////////////////////////*/

#left_column{
	float: left;
	width: 712px;
	/* height: 600px; */
}

/* User page header outsourced to name_menu_bar*/

/* Posting fields */

#question_background{
  position: relative;
  float: left;
	width: 702px;
/*	height: 182px;*/
	background-color: #E5E5E5; /* lightest gray */
	margin-left: 10px;
	padding: 0px 0px 10px 0px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#question{
	width: 702px;
	height: 20px;
	padding-top: 5px;
	margin-left: 10px;
	margin-top: 0px;
	text-align: left;
	background-color: transparent;
	font-family: Times, serif;
	font-size:14px;
	color: #666;
	font-style: italic;
}

/* TEXT BOX /////////////////////////////////////*/

#question_field {
  margin: 0px 0px 0px 10px;
}

#post_content {
  float: left;
  height: 60px;
  width: 660px;
	max-width: 660px;
  padding: 10px;
	border: 1px solid #FFF;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: #222;
	overflow: hidden;
	font-family: Verdana, sans serif;
	font-size: 1.1em;
	line-height:  1.25em;
	word-spacing: 0.09em;
	color: #666;
	text-align: left;
}

/* Post type select outsourced to posting_icons */

.actions {
	background-color: #66CC99;
  	color:#fff;
	font-family:"Georgia", Times New Roman, Times, serif;
	font-style: italic;
	font-weight: normal;
	font-size: 1.2em;
	line-height: 22px;
	border: none;
	-webkit-border-radius: 2.5px;
	-moz-border-radius: 2.5px;
	border-radius: 2.5px;
}

.actions:hover {
  background-color: #C1C3C9;
  cursor: default;
}

/* posting forms outsources to posting_forms */

/* following feed formating outsourced to feed_items */

/* RIGHT COLUMN
/////////////////////////////////////*/

/* not signed in */
/* ////////////////////////////////// */

#right_side_info {
  position: relative;
  float: right;
  width: 228px;
  height: 480px;
  margin: 20px 20px 0px 0px;
  background-color: #efefef;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

#fff_info {
  width:200px;
  margin: 10px auto 10px auto;
  text-align: left;
  color: #666;
}

/* signed in */
/* ////////////////////////////////// */

#right_side_column{
	float: left;
	width: 248px;
	height: 600px;
}

#ffflourish_stats{
	float: right;
	width: 228px;
	height: 243px;
	/* background-color: #CCC; */
	margin: 47px 10px 0px 0px;
}

#stats_tab{
	width: 228px;
	height: 24px;
	/* background-color: #333; */
	background-color: black;
}

#stats_tab_text{
	margin-left: 40px;
	padding-top: 2px;
}

.stats_text{
	margin-left: 0px;
	line-height: 12px;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	font-style:italic;
	color: white;
	letter-spacing: 1px;
	text-align: center;
}

.stats_green_text{
	/* color: #31F48E; */
	color: #99FFFF;
	margin-left: 0px;
	line-height: 12px;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	font-style:italic;
	letter-spacing: 1px;
	text-align: center;
}

#stats_arrow{
	text-align: center;
	color: #FFF;
	font-size: 10px;
	padding-top: 2px;
}

#stats_table{
	padding-top: 10px;
	line-height: 20px;
}

.stat_title{
	font-family: Georgia, serif;
	font-size: 11px;
	font-style: italic;
	color: #666;
	text-align: left;
	margin-left: 15px;
}

.stat_value{
	font-family: Georgia, serif;
	font-size:14px;
	font-weight: bold;
	color: #666;
	text-align: left;
	margin-left: 30px;
}


/* CONTENT IN BOTTOM
/////////////////////////////////////*/
/*bottom_profile_section*/

#footer {
  	position: relative;
  	float: left;
	width: 960px;
  	margin: 0px 0px 0px 0px;
	height: 25px;
	background-color: #FFF;
	-webkit-border-radius: 0px 0px 10px 10px;
	-moz-border-radius: 0px 0px 10px 10px;
	border-radius: 0px 0px 10px 10px;
}

#bottom_table{
  position: relative;
  float: left;
	margin: 0px auto;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size:12px;
	font-style:italic;
	color: #999;
	text-align:center;
}

#copyright_ffflourish, #about, #terms, #privacy, #advertise, #jobs, #contact, #blog{
	margin: 0px 10px 0px 10px;
}

/* NOTICE AND ALERT MESSAGES FOR DEVISE */

/* ERROR MESSAGES */

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

#debug {
  position: relative;
  float: left;
  margin: 20px auto;
}

