

/* old stuff for esit post form */
#post_form_first_title_container{
	width: 404px;
	height: 15px;
	/* background-color: yellow; */
	margin-left: 2px;
}

#post_form_first_heading{
	float:left;
	font-family: Verdana, sans serif;
	color: #444;
	font-size: 0.8em;
	text-align: left;
	margin-left: 2px;
}

#post_form_first_heading_note{
	float:left;
	font-family: Verdana, sans serif;
	color: #999;
	font-size: 0.8em;
	text-align: left;
	margin-left: 2px;
}

.post_form_title_container{
  clear: both;
	width: 404px;
	height: 30px;
	/* background-color: yellow; */
}

.post_form_heading{
	float:left;
	font-family: Verdana, sans serif;
	color: #444;
	font-size: 0.8em;
	text-align: left;
	margin-left: 2px;
	padding-top: 15px;
	padding-bottom: 2px;
}

.post_form_heading_note{
	float:left;
	font-family: Verdana, sans serif;
	color: #999;
	font-size: 0.8em;
	text-align: left;
	margin-left: 2px;
	padding-top: 15px;
	padding-bottom: 2px;
}




