/* user profile page */

#top_profile_section {
  position: relative;
  float: left;
  width: 712px
}

/* general information */
#general_info {
  position: relative;
  float: left;
  width: 300px;
  margin: 5px 0px 0px 10px;
  
}

#about_me {
  position: relative;
  float: left;
  margin: 0px 0px 10px 0px;
  text-align: left;
	font: Georgia, serif;
	font-size: 1.15em;
	font-style :italic;
	font-weight: normal;
	color: #444;
  
}

.attribute {
  position: relative;
  float: left;
  width: 300px;
  text-align:left;
	font: Georgia, serif;
	font-size:1.15em;
	font-style:italic;
	font-weight: normal;
	color: #444;
}

.title {
  position: relative;
  float: left;
  width: 100px;
}

.vaule {
  position: relative;
  float: left;
  width: 200px;
}

/* editing profile page */

#edit_profile_container {
  position: relative;
  float: left;
	width: 702px;
	background-color: #E5E5E5; /* lightest gray */
	margin: 0px 0px 0px 10px;
	padding: 10px 10px 20px 0px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#profile_avatar {
  position: relative;
  float: left;
  margin: 0px 0px 0px 10px;
  overflow: hidden;
}

#profile_avatar img {
  -webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.avatar_img{
	position: relative;
	float: left;
	clear: both;
  	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	background-color: none;
}

/* form for uploading a new avatar image */


#photo_upload{
	float: left;
	width: 200px;
	height: 35px;
	clear: both;
	padding: 10px 0px 0px 0px;
	margin: 10px 0px 0px 0px;
	-webkit-border-radius: 2.5px;
	-moz-border-radius: 2.5px;
	border-radius: 2.5px;
	font-family: Verdana, sans serif;
	font-size: 1.1em;
	text-align: center;
	line-height: 1.9em;
}

input#file_upload {
	width: 200px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	color: #FFF;
	font-size: 12px;
	font-style: italic;
	border: none;
}

/*#photo_upload:hover{
	background-color: #99FFFF; /* light blue */
}
*/
#avatar_form input#avatar{
  	
}

#base_stats {
	position: relative;
	float: left;
	clear: both;
	width: 702px;
}

#user_info {
  position: relative;
  float: left;
  width: 400px;
  margin: 0px 0px 0px 20px;
}

#current_email {
	position: relative;
	float: left;
	margin: 0px 0px 0px 10px;	
}

#edit_account {
	position: relative;
	float: right;
	margin: 0px 10px 0px 0px;	
}

#edit_profile_fields {
  position: relative;
  float: right;
  width: 440px;
  margin: 0px 0px 0px 10px;
/*  padding: 10px;*/
}

.profile_label {
  position: relative;
  float: left;
  padding: 4px 0px 0px 0px;
}

.profile_field {
  position: relative;
  float: right;
  width: 250px;
  max-width: 250px;
  background-color:#FFF;
  padding: 3px 6px 3px 6px;
	overflow: visible;
	border-style: none;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

#update_profile_btn {
	clear: both;
	position: relative;
	float: right;
	height: 43px;
	width: 86px;
}

