#signin_container {
  width: 520px;
  height: 180px;
  margin: 20px auto;
  background-color: transparent;
}

/* left column of sign in container */
#signin_left {
	width: 150px;
	height: 100%;
	min-height: 100px;
	position: relative;
	float: left;
	margin: 0px 0px 0px 10px;
}
/* center column of sign in container */
#signin_center {
	width: 260px;
	height: 100%;
	position: relative;
	float: left;
	margin: 0px 0px 0px 10px;
}

	#signin_form {

	}
	
		.signin_fields {
			width: 250px;
			height: 60px;
			position: relative;
			float: left;
			padding-bottom: 5px;
			font-family: Verdana;
		}

			.signin_label {
				width: 100%;
				height: 16px;
				position: relative;
				float: left;
				margin: 0px 0px 0px 0px;
				font-size: 10pt;
				color: #1b9e6f;
				text-align: left;
			}
			
			.signin_field {
				width: 230px;
				height: 36px;
				position: relative;
				float: left;
				clear: both;
				margin: 5px 0px 0px 0px;
				padding: 0px 10px;
			  	background-color:#FFF;
				overflow: visible;
				border-style: none;
				-webkit-border-radius: 5px;
				-moz-border-radius: 5px;
				border-radius: 5px;
				font-size: 12pt;
				color: #999;
			}
			
			.signin_field:hover {
				padding: 2px 10px 0px 12px;
				-moz-box-shadow: 2px 2px 8px #e5e5e5;
				-webkit-box-shadow: 2px 2px 8px #e5e5e5;
				box-shadow: 2px 2px 8px #ff5e5a;
			}
			
		#remember_me {
			width: 150px;
			height: 15px;
			position: relative;
			float: left;
			margin: 2px 0px 0px 0px;
			font-family: Verdana;
			font-size: 10pt;
			color: #1b9e6f;
			text-align: left;
			vertical-align: top;
		}
		
		#signin_submit {
			width: 78px;
			height: 42px;
			position: relative;
			float: right;
			margin: 7px 10px 0px 0px;
			padding: 0;
			background: #31f48e;
			overflow: hidden;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;
		}
			
			#signin_submit:hover {
				background-color: #45e5ff;
				padding: 2px 0px 0px 2px;
				-moz-box-shadow: 2px 2px 8px #e5e5e5;
				-webkit-box-shadow: 2px 2px 8px #e5e5e5;
				box-shadow: 2px 2px 8px #e5e5e5;
			}
			
			#signin_submit:active {
				background-color: #31f48e;
				-moz-box-shadow: 2px 2px 4px #e5e5e5;
				-webkit-box-shadow: 2px 2px 4px #e5e5e5;
				box-shadow: 2px 2px 4px #e5e5e5;
			}
		
			.signin_btn {
				margin: 10px auto;
				color:#fff;
				font-family: Verdana, sans serif;
				font-weight:normal;
				font-size: 12pt;
				border: none;
				background-color: transparent;
			}

	
/* right column of sign in container */
#signin_right {
	width: 90px;
	height: 100%;
	position: relative;
	float: left;
	margin: 0px 0px 0px 0px;
}
	
	.signin_aux {
		width: 100%;
		height: 60px;
		position: relative;
		float: left;
		clear: both;
		margin: 5px 0px 0px 0px; 
	}
	
	.signin_links {
		width: 100%;
		height: 15px;
		position: relative;
		float: left;
		font-size: 10pt;
		color: #1b9e6f;
		text-align: left;
		text-decoration: underline;
	}
	
	a.signin_links:visited {color: #1b9e6f;}
	a.signin_links:hover {color: #ff5e5a;}
	
		#forgot_password_link { margin-top: 22px; }
		#signup_link { margin-top: 12px; }
		
	.signin_label_aux {
		width: 100%;
		height: 16px;
		position: relative;
		float: right;
		margin-top: 25px;
		font-family: Verdana, sans serif;
		font-size: 8pt;
		color: #1b9e6f;
	}
	
/* devise registration pages */

#signup_container {
  width: 520px;
  height: 440px;
	margin: 20px auto;
	background-color: transparent;
	font-family: Verdana, sans serif;
}

#registration_form {
  
}

#right_column_spacer {
	height: 385px;
}

#signin_errors {
	width: 400px;
	height: 100%;
	margin: 60px auto 20px auto;
}

/* forgot your password */

#reset_password_container {
	width: 480px;
	height: 240px;
	margin: 20px auto;
	
}

	#reset_msg {
		position: relative;
		float: left;
		margin: 20px 0px 0px 150px;
		text-align: left;
	}

	#reset_password {
		width: 260px;
		height: 100px;
		position: relative;
		float: left;
		margin: 20px 0px 20px 150px;
	}
	
/* reset password button */
#reset_submit {
	width: 248px;
	height: 42px;
	position: relative;
	float: right;
	margin: 7px 10px 0px 0px;
	padding: 0;
	background: #31f48e;
	overflow: hidden;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

	#reset_submit:hover {
		background-color: #45e5ff;
		padding: 2px 0px 0px 2px;
		-moz-box-shadow: 2px 2px 8px #e5e5e5;
		-webkit-box-shadow: 2px 2px 8px #e5e5e5;
		box-shadow: 2px 2px 8px #e5e5e5;
	}
	
	#reset_submit:active {
		background-color: #31f48e;
		-moz-box-shadow: 2px 2px 4px #e5e5e5;
		-webkit-box-shadow: 2px 2px 4px #e5e5e5;
		box-shadow: 2px 2px 4px #e5e5e5;
	}

.devise_links {
	width: 248px;
	height: 24px;
	position: relative;
	float: left;
	clear: both;
	margin: 10px 0px 0px 150px;
	font-family: Verdana;
	font-size: 10pt;
	color: #1b9e6f;
}

	.devise_links a {
			
	}





