/Create a new post
//////////////////////////////////////////////////////////
-if @user == current_user
  = render 'shared/feed_form'
/Listing all the users posts
//////////////////////////////////////////////////////////
- if @posts.any?
  #results
    .feed
      = render :partial => 'shared/feed_item', :collection => @posts
- else
  - if @user == current_user
    #get_posting
      %p You have no ffflourishes yet!
      %p Answer the question above to get started.
