= render 'shared/name_menu_bar'
/Create a new post
//////////////////////////////////////////////////////////
-if @user == current_user
  = render 'shared/feed_form'
/Listing all the users posts
//////////////////////////////////////////////////////////
- if @posts.count > 0
  #user_blog
    -@posts.each do |post|
      = render 'posts/blog_post', :f => post
    = will_paginate @posts
- else
  - if @user == current_user
    #get_posting
      %p You have no posts yet!
      %p Answer the question above to get started.

