<% unless @feed_items.empty? %>
    <div id="results">
      <ul class="feed">
        <%= render :partial => 'shared/feed_item', :collection => @feed_items %>
      </ul>
    </div>
  <%= pageless(@feed_items.total_pages, user_following_path) %>
<% end %>
<div class="pagination"><%= will_paginate @feed_items %></div>

