<% unless @feed_items.empty? %>
  <div id="three_column_feed_entry_format">
    <%= render :partial => 'shared/feed_item', :collection => @feed_items %>
  </div><!-- end 3 column_feed_entry_format -->
  <%= will_paginate @feed_items %>
<% end %>

