<div id="post_options_container">
  <ul>
    <li class="post_type">
    	<div class="icon_background">
    	  <%= image_tag 'photo.png', :size => '43x43', :id => 'post_image' %>
    		<!--<ul class="post_type_dropdown">
    			<li>photo</li>
    		</ul>-->
    	</div>
    </li>
  </ul>
</div>

