<div class="activity_images">
  <% if f.vote_count == 0 %>
    <%= link_to (image_tag "like.png", :width => 14,
                                       :height => 15,
                                       :mouseover => "like_red.png"),
              like_user_post_path(f.user, f),
              :remote => true,
              :class => "like_post_link" %>
  <% else %>
    <%= link_to (image_tag "like_red.png", :width => 14, :height => 15),
              like_user_post_path(f.user, f),
              :remote => true,
              :class => "like_post_link" %>
  <% end %>

</div>

