<div id="post_fields_container">
  <div class="post_image_fields">
    <div id="photo_post_upload">
      <%= f.file_field :image, :id => "image",
                :value => "upload photo (5 MB max, .jpg, .gif, .png, .bmp)" %>
      <%= f.hidden_field  :image_cache %>
    </div>
  </div>
</div>

