<% @user ||= current_user %>
<table border="0">
	<tr>
		<td><div class="stat_title"> status: </div> </td>
		<td><div class="stat_value"> **** </div> </td>
	</tr>
	<tr>
		<td><div class="stat_title"> likes: </div></td>
		<td><div class="stat_value"> 23 </div></td>
	</tr>
	<tr>
		<td><div class="stat_title"> reposts: </div></td>
		<td><div class="stat_value"> 42 </div></td>
	</tr>
	<tr>
		<td><div class="stat_title"> comments: </div></td>
		<td><div class="stat_value"> 2 </div></td>
	</tr>
	<tr>
		<td>
		  <div class="stat_title">
		    <%= link_to 'following', following_user_path(@user) %>
		  </div>
		</td>
		<td>
		  <div id="following_count" class="stat_value">
		    <%= @user.following.count %>
		  </div>
		</td>
	</tr>
	<tr>
		<td>
		  <div class="stat_title">
		    <%= link_to 'followers', followers_user_path(@user) %>
		  </div>
		</td>
		<td>
		  <div id="followers_count" class="stat_value">
		    <%= @user.followers.count %>
		  </div>
		</td>
	</tr>
	<tr>
		<td><div class="stat_title"> member since: </div></td>
		<td><div class="stat_value"> 11.02.10 </div></td>
	</tr>
	<tr>
		<td><div class="stat_title"> last login: </div></td>
		<td><div class="stat_value"> 11.08.10 </div></td>
	</tr>
</table>

