<div id="static_container">
  <div id="about">
    <p class="static_content">
      <span class="static_content_blue">ffflourish</span> asks you to share the naturally healthy things you’re doing right now. 
    </p>
    <p class="static_content">
      You could be reading an inspiring story, hiking in nature, channeling your inner yogi, hitting the gym, laughing with friends, creating a healthy recipe, eating vegetables you grew in you garden, or anything that makes you feel awesome or could inspire others.
    </p>
    <p class="static_content">
      <span class="static_content_blue">ffflourish</span> lets you follow your friends and make new ones, support others and share your passion about thriving and staying healthy naturally. Create small ‘ffflourishes,’ or text posts. Attach photos for others to see, comment and like.  
    </p>
    <p class="static_content">
      <span class="static_content_blue">ffflourish</span> is a record of all the little things you do for your health and happiness. After all, these ‘little things’ are actually the most important. 
    </p>
    <p class="static_content">
      So, go ahead! Get your friends and start <span class="static_content_blue">ffflourishing.</span>
    </p>
  </div>
</div>

