- if ! user_signed_in?
  %h1 Welcome to ffflourish
  = link_to "Join ffflourish", new_user_registration_path
  
  %p Public feed examples should be displayed here
  
  %p Already a member?
  .session_links= link_to "Sign in", signin_path
- else
  %h1= "Welcome #{current_user.first_name}"
  %p User feed should be displayed here
