<div id="static_container">
  <div id="about">
    <p class="static_content">
      <span class="static_content_blue">ffflourish</span> was built by Laura and Robert. See our blog of our everyday kind of stuff <%= link_to 'here', 'http://www.putafonit.com', :target => "_blank", :class => "text_blue feed_links" %>. We’re designers, but we're also passionate about natural health. 
    </p>
    <p class="static_content">
      We’re not affiliated with any drug companies, doctors, insurance companies (this aint yo hmo!) or gurus. It’s just us, and we made this for you.
    </p>
  </div>
</div>
