<!-- Create a new post -->
<% if @user == current_user %>
  <%= render 'shared/feed_form' %>
<% end %>
<!-- Listing all the users posts -->
<% if @posts.any? %>
  <% if params[:page] %>
    <div id="pagination"><%= will_paginate @posts %></div>
  <% end %>
  <div id="results">
    <div class="feed">
      <%= render :partial => 'shared/feed_item', :collection => @posts %>
    </div>
  </div>
<% else %>
  <% if @user == current_user %>
    <div id="get_posting">
      <p class="static_content">You have no ffflourishes yet!</p> 
      <p class="static_content">Answer the question above to get started.</p> 
    </div>
  <% end %>
<% end %>
<div id="pagination"><%= will_paginate @posts %></div>
