<title><%= title %></title>
<meta name="Description" content="ffflourish // is for sharing what's healthy.  What are you doing right now that's healthy for you?" />
<meta name="Keywords" content="natural health, healthy, nutrition, social network, community, connect, track, share, thrive, flourish" />
<%= render 'layouts/stylesheets'%>
<%= render 'layouts/jscript'%>
<%= csrf_meta_tag %>
<link rel="icon" type="image.ico" href="/images/favicon.ico" />
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-18366282-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
