%header
  %nav
    - if user_signed_in?
      .account_buttons= link_to "account", edit_user_registration_path(current_user)
      .account_buttons= link_to "signout", signout_path, :method => :delete
    - else
      .account_buttons= link_to "join", new_user_registration_path
      .account_buttons= link_to "signin", signin_path
  

