	<!-- RIGHT COLUMN -->
<div id="ffflourish_stats">
	<div id="stats_tab">
		<div id="stats_tab_text">
			<table border="0">
				<tr>
					<td><div class="stats_text"> my </div> </td>
					<td><div class="stats_green_text"> ffflourish </div> </td>
					<td><div class="stats_text"> stats </div> </td>
					<td><div id="stats_arrow"> &#x25BC; </div></td>
				</tr>
			</table>
		</div>
	</div>

	<div id="stats_table">
	  <%= render 'shared/stats' %>
	</div>


</div> <!-- close 'ffflourish stats' div -->

