<!-- RIGHT COLUMN NON SIGNED IN USER -->
<div id="fff_info">
  <h3>Welcome to ffflourish</h3>
  <div id="description">
      <p><i><font color="#99FFFF" >ffflourish</font></i> is a new social application dedicated to natural health.</p>
      <p><i><font color="#99FFFF">ffflourish</font></i> allows you to create a profile, connect with friends, track your goals, share your passion and thrive in an inspiring community dedicated to what makes you feel your best.</p>
     <p><i><font color="#99FFFF">ffflourish</font></i> is for everyone.</p> 
     <p>go ahead and <i><font color="#99FFFF">ffflourish!</font></i></p>
  </div>
  <p>News:</p>
</div>
