/[if lt IE 9]
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
= stylesheet_link_tag :all
/[if 1t IE 8] <haml:loud> stylesheet_link_tag 'blueprint/ie' </haml:loud>
/= stylesheet_link_tag 'custom', :media => 'screen'

