/Row of Tab Buttons and Operable things
//////////////////////////////////////////////////////////
#button_bar
  %p.tab_left= link_to "feed...", user_path(current_user)
  %p.tab_left= link_to "profile", user_profile_path(@user, @user.profile)
  %p.tab_left friends
  %p.tab_right edit
  %p.tab_right search

