/Row of Tab Buttons and Operable things
//////////////////////////////////////////////////////////
#button_bar
  %p.tab_left= link_to "feed...", @user
  %p.tab_left= link_to "profile", profile_path(@user.profile.id)
  %p.tab_left friends
  %p.tab_right edit
  %p.tab_right search

